obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
StyleCop.Cache
BuildDrop/*
ObjDrop/*
packages/*
*.DotSettings.user
~$*
*.coverage.xml
*.unittest.report.xml
*.coverage.xml
*.unittest.report.xml
TestResult.xml
BuildAllUi.1.0.1.nupkg
.sonar/
.sonarqube/
.vs/*
*.vshost.exe
VisualizationDiagram/bld/Release/**
VisualizationDiagram/bld/Release/layout.resfiles
VisualizationDiagram/bld/Release/layout.resfiles.intermediate
VisualizationDiagram/AppPackages/*
VisualizationDiagram/bld/*
Backup*
UpgradeLog*.htm
.clang-tidy
compile_commands.json
.cxxresults/
*.nupkg
*.orig
/TeamcityRestApi/TeamcityRestApiImpl.fsproj.user
