<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="ts-nuget" value="https://ts-nuget.teklaad.tekla.com/nuget/ts-nuget/v3/index.json" />
        <add key="ts-ext-nuget" value="https://ts-nuget.teklaad.tekla.com/nuget/ts-extnuget/v3/index.json" />
        <add key="ts-oss-nuget" value="https://ts-nuget.teklaad.tekla.com/nuget/ts-oss-libraries/v3/index.json" />
        <add key="nugetorg" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>